@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/* Global styles */

.container {
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;
}

nav {
  width: 100%;
  position: relative;
  z-index: 2;
}

:root {
  --primary: #ff4d30;
  --black: #010103;
  --lightblack: #2d2d2d;
  --gray: #706f7b;
}

button {
  cursor: pointer;
}

img {
  overflow-clip-margin: border-box;
  overflow: clip;
}

.fa-solid{
  font-weight: 900;
}

/* Navigation */

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__img__wrapper {
  width: 145px;
}

.nav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 20px;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__link {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  transition: 300ms ease;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__btns__register {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24 px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--primary);
  box-shadow: 0px 8px 13px 0px rgba(255, 83, 48, 0.35);
  padding: 12px 24px;
  color: white;
  transition: 200ms ease;
}

.nav__menu{
  background-color: transparent;
  border: none;
  font-size: 24px;
}

/* Menu */

.menu{
  position: fixed;
  background-color: #f8f8f8;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;

}

.menu__close{
  position: absolute;
  top: 44px;
  right: 32px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--black);
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

}

.menu__link{
  color: var(--black);
  font-size: 24px;
  font-weight: 500;

}


/* Header */

.header__row {
  display: flex;
  align-items: center;
  position: relative;
}

header {
  height: 100vh;
  background-color: #f8f8f8;
}

.header-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__img__wrapper {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 65%;
  margin-top: 56px;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  z-index: 3;
  margin-top: 56px;
}

.header__text__subtitle {
  font-size: 20px;
}

.header__text__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
}

.color-primary {
  color: var(--primary);
  position: relative;
  z-index: 1;
}

.header__text__btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24 px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 24px;
  color: white;
  transition: 200ms ease;
}

.header__text__book {
  background-color: var(--primary);
  box-shadow: 0px 8px 13px 0px rgba(255, 83, 48, 0.35);
}

.header__text__learn {
  background-color: var(--black);
  border: 2px solid transparent;
}

.header__text__learn__btn:hover {
  border-color: #000;
  background-color: transparent;
  color: #000;
}

.header__text__para {
  color: var(--gray);
}

/* Feature */

#features {
  background-color: white;
}

.features__list {
  display: flex;
  padding: 0 30px;
  margin-top: 30px;
  gap: 50px 118px;
}

.feature {
  width: (100% / 3);
  display: flex;
  flex-direction: column;
}

features__title {
  font-size: 42px;
}

.feature__para {
  color: var(--gray);
}

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.feature__img {
  width: 100%;
  height: 100%px;
}

/* Banner */

#banner {
  background-color: var(--lightblack);
  color: white;
}
.banner__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 20px;
  gap: 16px;
  text-align: center;
}

.banner__title {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}

.banner__subtitle {
  font-size: 24px;
  font-weight: 400;
  z-index: 4;
}

/* Choose */

.choose__text__btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24 px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 24px;
  color: white;
  transition: 200ms ease;
  background-color: var(--primary);
  box-shadow: 0px 8px 13px 0px rgba(255, 83, 48, 0.35);
}

.choose__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choose__text__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  z-index: 3;
  margin-top: 5px;
}

.choose__text__subtitle {
  font-size: 20px;
}

.choose__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
}

.choose__text{
  align-items: center;
}

.choose__feature__img__wrapper {
  width: 110px;
  height: 110px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.choose__img__wrapper {
  width: 100%;
 
}

.choose__img {
  width: 100%;
  height: 100%;
}

.choose__content {
  width: 100%;
 display: flex;
 justify-content: space-around;
 gap: 23px;
}

.choose__content{
  display: flex;
  justify-content: space-around;
}
.choose__features {
  max-width: 440px;
  display: flex;
  flex-direction: column;
}

.choose__feature {
  display: flex;
}

.choose__text__para {
  margin: 10px;
  color: var(--gray);
}

.choose__feature__text__para {
  color: var(--gray);
}

/* Testimonials */

.testimonials{
  background-color: #f8f8f8;
}

.testimonial{
background: white;
box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
max-width: 540px;
width: 100%;
display: flex;
flex-direction: column;
padding: 56px;
gap: 40px;
}

.testimonials__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials__text__title{
    align-items: center;
    font-size: 40px;
  }

  .testimonials__text__subtitle {
    font-size: 25px;
    font-weight: 600;
    align-items: center;
  }

  .testimonial__review__para-1{
    color: var(--gray);
    max-width: 700px;
    margin-top: 16px;
    text-align: center;
  }

  .testimonial__review__para-2{
    font-size: 20px;
    text-align: left;
  }

  .testimonials__list {
    display: flex;
    margin-top: 80px;
    gap: 24px;
}

.testimonial__info__img__wrapper {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  overflow: hidden;
}


.testimonial__info__icon{
  color: var(--primary);
  margin-left: auto;
  font-size: 48px;
}

.testimonial__info__img{
  width: 100%; 
  height: 100%;
  font-size: 45px;

}

.testimonial__info{
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.testimonial__info__profile {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.testimonial__info__name {
  font-size: 18px;
}

.testimonial__info__location {
  font-size: 16px;
  font-weight: 400;
}

/* Download */

#download {
  background-image: url(assets/download-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.download__text__link__img {
  width: 100%;
  height: 100%;
}

.download__text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 525px;

}

.download__text__title{
  font-size: 40px;
}

.download__text__links{
  display: flex;
  gap: 32px;
}

.download__text__link{
  width: 40%;
}

a {
  text-decoration: none;
}

/* Footer */

.footer__row{
  display: flex;
  justify-content: space-between;
  gap: 45px;
  flex-wrap: wrap;
}

.footer__intro {
width: 25%;
}

.footer__content{
display: flex;
flex-direction: column;
width: 25%;
gap: 15px;

}

.footer__intro__title{
font-size: 24px;

}

.footer__intro__para{
  color:var(--gray);
}

.footer__intro__links{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__intro__links{
display: flex;
flex-direction: column;
gap: 6px;
}

.footer__intro__link{
  color:var(--black);
  transition: 300ms ease;
}

.footer__company__title{
  font-size: 20px;
  text-transform: uppercase;
}

.footer__hours__title{
  font-size: 20px;
  text-transform: uppercase;
  color:var(--black);
}

.footer__subscription__title{
  font-size: 20px;
  text-transform: uppercase;
  color:var(--black);
}

.footer__email__form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.footer__email__form__input{
  height: 45px;
  padding: 0 16px;
  outline: none;
  border: none;
  background-color: #ececec;
}

.footer__email__form__submit{
height: 48px;
font-size: 15px;
font-weight: 700;
border: none;
outline: none;
color: white;
background: var(--primary);
border-radius: 4px;
box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
transition: 300ms ease;
}



/* Lg Screens @media (max-width: 1024px) */

/* Tablets - MD Screens @media (max-width: 768px)  */

/* Sm Screens  @media (max-width: 640px) */

@media (max-width: 640px){
  .nav__menu {
    display: block;
  }
}
